<!DOCTYPE html>
<html>
<head>
  <title>Besties</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
  <nav>
    <div class="brand_main"href="welcome.html">
      <div class="brand_inner">Besties</div>
    </div>
    <ul>
      <li><%= link_to "Home", welcome_path %></li>
      <li><%= link_to "Messages", messages_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "FAQ", faq_path %></li>
    </ul>
  </nav>

<%= yield %>
<footer>
 <p>&copy Machiel van Der Toorn 2018</p> 
</footer>

</body>
</html>
